@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
  --font-poppins: "Poppins", sans-serif;
}

@import "tailwindcss";

@layer base {
  :root {
    --navBG: #23afe5;
    --navSelected: #ffffff;
    --navText: #5a5a5a;
    --primary: #23afe5;
    --Mainbg: #ffffff;
    --Hero: #23afe5;
    --text: #19294e;
    --secText: #23afe5;
    --buttonbg: #23afe5;
    --buttonTxt: #ffffff;
  }

  [data-theme="dark"] {
    --navBG: #101a31;
    --navSelected: #23afe5;
    --navText: #ffffff;
    --primary: #23afe5;
    --Mainbg: #101a31;
    --Hero: #1c2e50;
    --text: #ffffff;
    --secText: #23afe5;
    --buttonbg: #23afe5;
    --buttonTxt: #ffffff;
  }

  html {
    background-color: var(--Mainbg) !important;
    @apply transition-colors duration-300;
  }

  body {
    background-color: var(--Mainbg);
    font-family: var(--font-poppins);
  }

  [data-theme="dark"] html,
  [data-theme="dark"] body {
    background-color: var(--Mainbg);
  }
}

@layer utilities {
  .ant-carousel .slick-slider .slick-arrow {
    background-color: red !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 50% !important;
  }

  .ant-carousel .slick-slider .slick-dots {
    margin-top: 5px !important;
    margin-bottom: 3px !important;
  }

  .ant-carousel .slick-slider .slick-dots-bottom .slick-active {
    background: var(--primary) !important;
  }
}